body{
    background-color: #EAEAEA;
}

thead tr, tbody tr td:nth-of-type(n + 3) {
    background-color: #D0D0D0;
}

tr th:nth-of-type(1), tr th:nth-of-type(2) {
    background-color: #fff;
}

table.dataTable {
    border-collapse:collapse;
}

table.dataTable thead th, table.dataTable thead td {
    border: 1px solid black;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.dataTables_filter {
    display: none;
}